# text
TEXT = ORTON

# Pre-LLM examples (just mutating words using a dictionary):

CARROLL.src: bin/evolve scowl.txt
	$(EVOLVE) How cheerfully he seems to grin How neatly spreads his claws And welcomes little fishes in With gently smiling jaws >$@

BORGES.src: bin/evolve scowl.txt
	$(EVOLVE) Thousands of the greedy abandoned their sweet native hexagons and rushed up the stairways urged on by the vain intention of finding their Vindication >$@

# LLM-based examples (preserves sense/meter/phonetics, more faithfully emulates a game of 'Telephone')
# The LLM methods don't need you to build the bin/evolve script, or download a word dictionary.

ORTON.src:
	python telephone_tree.py "Cleanse my heart. Give me the ability to rage correctly" --prompt-distance '4-8' >$@

GIBSON.src:
	python telephone_tree.py "The sky above the port was the color of television tuned to a dead channel" --prompt-distance '6-12' >$@
